<section
  class="bg-[#004ea9] text-white flex flex-col items-start justify-start gap-2 pt-32 pb-24 px-[10%]"
>
  <h1 class="text-4xl lg:text-7xl font-black">PRODUCTOS SOLARES</h1>
  <span class="text-gray-100 text-xl">
    Descubre nuestra amplia gama de productos para instalaciones solares
  </span>
</section>
