rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userID) {
      return isSignedIn() && request.auth.uid == userID;
    }

    function isAdmin() {
      return isSignedIn()
        && request.auth.token != null
        && request.auth.token.role == 'admin';
    }


    match /settings/{doc=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /courses/{doc=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /professors/{doc=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /events/{doc=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /tests/{doc=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /features/{doc=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /liveCourses/{doc} {
      allow read: if true;

      allow update: if isSignedIn() &&
        request.resource.data.registeredUsers == resource.data.registeredUsers + 1;
    }


    match /payments/{doc=**} {
      allow read: if isOwner(resource.data.uid) || isAdmin();
      allow create: if isOwner(request.resource.data.uid);
      allow update: if isOwner(resource.data.uid) || isAdmin();
      allow delete: if isAdmin();
    }

    match /jobs/{doc=**} {
      allow read: if isOwner(resource.data.uid) || isAdmin();
      allow create: if isOwner(request.resource.data.uid);
      allow update, delete: if isOwner(resource.data.uid) || isAdmin();
    }

   
    match /users/{userID} {
      allow read, create, update, delete: if isOwner(userID);

      match /notifications/{doc=**} {
        allow read, write: if isOwner(userID);
      }

      match /progress/{doc=**} {
        allow read, write: if isOwner(userID);
      }

      match /tools/{doc=**} {
        allow read, write: if isOwner(userID);
      }

      match /events/{doc=**} {
        allow read, write: if isOwner(userID);
      }

      match /studyPlan/{doc=**} {
        allow read, write, update: if isOwner(userID);
      }
    }
  }
}
