@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair";
  src: url("/src/fonts/Playfair/Playfair-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gradient-blue {
  background: linear-gradient(145deg, #004ea9, #2979DA, #004ea9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-yellow {
  background: linear-gradient(25deg, #FFD700, #FFD700, #F3E5AB, #FFD700, #F3E5AB);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* infinite carousel */

.carousel-hero {
  margin: 0 auto;
  max-width: auto;
  display: flex;
  overflow: hidden;
  height: 50%;
  > * {
    flex: 0 0 auto;
  }
}

.group-carousel {
  display: flex;
  gap: 2px;
  padding-right: 2px;
  will-change: transform;
}

.group-carousel img {
  width: auto;
  height: 100%;
  object-fit: cover();
  flex: 0 0 auto;
}

.group-carousel img:hover {
  scale: 0.993;
}

.group-carousel-top {
  will-change: transform;
  animation: carousel-scroll-left 75s linear infinite;
}

.group-carousel-bottom {
  will-change: transform;
  animation: carousel-scroll-right 75s linear infinite;
}

@keyframes carousel-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes carousel-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
