---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { NAVBAR_ITEMS } from "@data/navbar";

import MayoristaSolarLogo from "@imgs/logos/mayorista-solar.png";
---

<div
  id="navbar"
  class="backdrop-blur-sm bg-black/5 text-white fixed top-0 left-0 w-full flex flex-row items-center justify-between gap-2 px-[10%] py-2 transition-all duration-500 z-99"
>
  <a
    href="/"
    class="flex flex-row gap-2 items-center justify-center w-fit transition-all duration-500 ease-out hover:bg-white/15 px-3 py-1 rounded-md"
  >
    <Image
      src={MayoristaSolarLogo}
      alt={"Mayorista solar logo"}
      class={"w-8 h-8 object-cover bg-white p-1 rounded-full"}
    />
    <span>Mayorista Solar</span>
  </a>

  <div class="flex flex-row gap-2 items-center justify-center">
    {
      NAVBAR_ITEMS.map((navbarItem) => (
        <a
          href={navbarItem.url}
          class="transition-all duration-500 ease-out hover:bg-white/15 rounded-md px-2 py-1"
        >
          {navbarItem.name}
        </a>
      ))
    }
  </div>
</div>

<script is:inline>
  const navbar = document.getElementById("navbar");
  let lastScroll = 0;

  const updateNavbar = () => {
    const currentScroll = window.scrollY;

    if (currentScroll > 50) {
      navbar.classList.remove("bg-black/5");
      navbar.classList.add("bg-black/50");
    } else {
      navbar.classList.remove("bg-black/50");
      navbar.classList.add("bg-black/5");
    }

    if (currentScroll > 200 && currentScroll > lastScroll) {
      navbar.style.transform = "translateY(-100%)";
    } else {
      navbar.style.transform = "translateY(0)";
    }

    lastScroll = currentScroll;
  };

  window.addEventListener("scroll", updateNavbar);
  updateNavbar();
</script>
