---
import { Image } from "astro:assets";

import { PILLARS } from "@data/pillars";
---

<div
  class="absolute bottom-4 right-0 grid grid-rows-5 px-4 w-fit overflow-hidden gap-2 transition-all duration-500 ease-in-out cursor-pointer z-10"
>
  {
    PILLARS.map((pillar) => (
    <div class="group relative flex">
        <!-- Hover Button -->
        <a href={pillar.url} class="text-nowrap truncate text-center text-white bg-black/75 backdrop-blur-sm px-4 py-4 rounded-md group-hover:underline w-full">{pillar.titlePreview}</a>

        <!-- Modal -->
        <!-- <div class="group fixed inset-0 top-12 w-full h-[calc(100%-48px)] invisible hover:visible"> -->
        <!--   <div class="absolute flex items-center justify-center bg-black/75 backdrop-blur-sm border border-white/50 invisible group-hover:visible bottom-4 left-4 flex flex-col gap-4 p-2 w-3/4 h-1/3 transition-all duration-500 translate-y-[100%] group-hover:translate-y-0 text-white text-4xl rounded-lg z-999"> -->
        <!--     <div class="flex w-full h-auto items-center justify-center"> -->
        <!--       <span>{pillar.titlePreview}</span> -->
        <!--     </div> -->
        <!---->
        <!--     <div class="flex w-full h-full items-center justify-center"> -->
        <!--       <p class="text-xl">{pillar.description}</p> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
      </div>
    ))
  }
</div>
