---
import Hero from "./Hero.astro";
import SpecializedEngineering from "./SpecializedEngineering.astro";
import Brands from "@components/home/Brands.astro";
import TechnicalSupport from "@components/home/TechnicalSupport.astro";
import AciMethodology from "@components/home/AciMethodology.astro";
import AciSteps from "@components/home/AciSteps.astro";
import Products from "@components/home/Products.astro";
import ProductsList from "@components/home/ProductsList.astro";
import Projects from "@components/home/Projects.astro";
---

<section class="relative w-full overflow-hidden">
  <Hero />
  <Brands />
  <SpecializedEngineering />
  <TechnicalSupport />
  <AciMethodology />
  <AciSteps />
  <Products />
  <ProductsList />
  <Projects />
</section>
