---
import { Image } from "astro:assets";

import Hero from "./Hero.astro";
import Carousel from "./Carousel.astro";
import SpecializedEngineering from "./SpecializedEngineering.astro";
import Statistics from "@components/home/Statistics.astro";
import TechnicalSupport from "@components/home/TechnicalSupport.astro";
import AciMethodology from "@components/home/AciMethodology.astro";
import AciSteps from "@components/home/AciSteps.astro";
import Products from "@components/home/Products.astro";
import Projects from "@components/home/Projects.astro";
import Financing from "@components/home/Financing.astro";

import CarouselImg from "@imgs/hero/carousel/img-5.jpg";

import BottomCards from "./BottomCards.astro";
---

<section class="relative w-full overflow-hidden">
  <section class="relative grid grid-cols-12 w-full h-full bg-black">
    <BottomCards />
    <div class="absolute top-0 left-0 w-full h-full bg-[#004ea922] z-3"></div>
    <div class="absolute top-0 left-0 w-[45%] h-screen min-h-screen -z-1 z-5">
      <Image
        src={CarouselImg}
        alt="Imagen de fondo"
        loading={"eager"}
        fetchpriority={"high"}
        decoding={"async"}
        class="w-full min-w-full h-full min-h-full max-h-full object-cover grayscale-25 mask-r-from-10% mask-r-to-100%"
      />
      <div
        class="absolute top-0 left-0 w-full h-full bg-linear-to-r from-[#004ea9] to-inherit"
      >
      </div>
    </div>

    <Hero />
    <Carousel />
  </section>

  <Statistics />
  <SpecializedEngineering />
  <AciMethodology />
  <AciSteps />
  <Products />
  <Financing />
  <TechnicalSupport />
  <Projects />
</section>
