---
import Hero from "./Hero.astro";
import SpecializedEngineering from "./SpecializedEngineering.astro";
import Brands from "@components/home/Brands.astro";
---

<section class="relative w-full overflow-hidden">
  <Hero />
  <Brands />
  <SpecializedEngineering />
</section>
