---
import { Icon } from "astro-icon/components";
---

<div
  class="text-white fixed top-0 left-0 w-screen flex flex-row items-center justify-between gap-2 px-[10%] py-2 z-999"
>
  <Icon name="lucide:sun" class="text-xl text-white" />
  Mayorista Solar
</div>
