---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { PROJECTS } from "@data/projects";
---

<section
  class="bg-gray-200 flex flex-col items-start justify-center gap-2 w-full h-screen min-h-screen px-[10%] py-[5%]"
>
  <div class="flex flex-row items-end justify-between w-full mb-4">
    <h1 class="flex flex-col gap-2 text-6xl font-black">
      <span class="text-[#004ea9]">PROYECTOS</span>
      <span>DESTACADOS</span>
    </h1>

    <a
      href="/proyectos-solares"
      class="group flex items-center justify-start gap-2 hover:underline w-fit px-5 py-2 text-[#004fa8] border border-[#004fa8] rounded-md"
    >
      <span>Ver todos los proyectos</span>
      <Icon
        name="lucide:arrow-right"
        class="group-hover:translate-x-2 transition-all duration-500"
      />
    </a>
  </div>

  <ul class="grid grid-cols-4 gap-2">
    {
      PROJECTS.slice(0, 4).map((project) => (
        <li class="relative transition-all duration-500 hover:scale-102">
          <Image
            src={project.img}
            alt={project.description}
            class={"w-full h-64 object-cover rounded-md"}
          />

          <div class="absolute bottom-0 left-0 bg-linear-to-l from-black/25 to-black/5 backdrop-blur-sm px-2 py-1 w-full h-1/4 text-white rounded-b-md font-bold">
            <span>{project.title}</span>
          </div>
        </li>
      ))
    }
  </ul>
</section>
