---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { PROJECTS } from "@data/projects";
---

<section
  class="bg-gray-100 flex flex-col items-start justify-center gap-2 w-full h-auto px-[10%] py-12 lg:py-[5%]"
>
  <div
    class="flex flex-col lg:flex-row items-start lg:items-end justify-between gap-4 lg:gap-0 w-full mb-4"
  >
    <h1 class="flex flex-col gap-2 text-4xl lg:text-6xl font-black uppercase">
      <span class="text-[#004ea9]">Proyectos</span>
      <span class="text-gray-900">Destacados</span>
    </h1>
  </div>

  <ul
    class="flex flex-row max-w-full min-w-full overflow-x-auto lg:overflow-hidden lg:grid lg:grid-cols-4 gap-2"
  >
    {
      PROJECTS.slice(0, 4).map((project) => (
        <li class="relative transition-all duration-500 hover:scale-102 min-w-64">
          <Image
            src={project.img}
            alt={project.description}
            class={"w-full h-64 object-cover rounded-md"}
          />

          <div class="absolute bottom-0 left-0 bg-linear-to-l from-black/25 to-black/5 backdrop-blur-sm px-2 py-1 w-full h-1/4 text-white rounded-b-md font-bold">
            <span>{project.title}</span>
          </div>
        </li>
      ))
    }
  </ul>
</section>
