---
import { Icon } from "astro-icon/components";

const STATS = [
  {
    number: "897",
    label: "Paneles Instalados",
    icon: "lucide:solar-panel",
  },
  { number: "550 Kw", label: "Energía Instalada", icon: "lucide:zap" },
  {
    number: "+75",
    label: "Nuevos Técnicos Certificados",
    icon: "lucide:users",
  },
];
---

<div
  class="relative bg-gray-100 flex flex-col items-center justify-center w-full h-auto text-black py-12"
>
  <div class="relative z-10 text-center mb-4">
    <h2 class="text-4xl md:text-6xl font-black mb-4 uppercase">
      <span class="text-[#004ea9]">Resultados primer semestre</span>
      <span class="text-gray-900">2026</span>
    </h2>
    <p class="text-lg lg:text-xl max-w-2xl mx-auto">
      Nuestra experiencia y modelo de negocio han creado soluciones de energía
      solar en toda Guatemala
    </p>
  </div>

  <div
    class="relative z-10 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 md:gap-8 w-full max-w-6xl px-8 cursor-default"
  >
    {
      STATS.map((stat) => (
        <div class="group flex flex-col items-center text-center p-4 rounded-2xl border border-black/25 last:col-span-2 lg:last:col-span-1 transition-all duration-500 hover:bg-white/20 hover:scale-105 hover:-translate-y-2">
          <div class="mb-2 rounded-full">
            <Icon name={stat.icon} class="w-8 h-8 text-[#004ea9]" />
          </div>
          <span class="text-lg lg:text-3xl font-bold mb-0 lg:mb-2 text-gray-800">
            {stat.number}
          </span>
          <span class="text-sm md:text-base">{stat.label}</span>
        </div>
      ))
    }
  </div>

  <div class="relative z-10 mt-4 flex flex-col items-center gap-4">
    <a
      href="/aplica"
      class="group flex items-center justify-start gap-2 hover:underline bg-white/15 w-fit px-5 py-2 rounded-md"
    >
      <Icon name="lucide:notepad-text" class="text-2xl text-[#004fa8]" />
      <span>Aplica ahora</span>
      <Icon
        name="lucide:arrow-right"
        class="group-hover:translate-x-2 transition-all duration-500"
      />
    </a>
  </div>
</div>
