---
import { Icon } from "astro-icon/components";
import { TECHNICAL_SUPPORT_ITEMS } from "@data/technicalSupport";
---

<section
  id="soporte-tecnico"
  class="bg-gray-100 flex flex-col items-start justify-center gap-2 w-full h-screen min-h-screen px-[10%]"
>
  <h1 class="flex flex-col gap-2 text-4xl lg:text-6xl font-black uppercase">
    <span class="text-[#004ea9]">Soporte Técnico</span>
    <span>Post Venta</span>
  </h1>
  <p class="w-full lg:w-3/4 text-sm lg:text-xl">
    Nuestro equipo de expertos está listo para brindarte el mejor acompañamiento
    y asegurar el éxito de tus proyectos solares.
  </p>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 text-xl my-8">
    {
      TECHNICAL_SUPPORT_ITEMS.map((item) => (
        <div class="flex flex-col items-start justify-center gap-2 text-xl">
          <div class="flex items-center gap-2">
            <Icon name={item.icon} class="text-[#004ea9] font-bold text-3xl" />
            <span class="font-semibold">{item.title}</span>
          </div>

          <span class="text-lg">{item.description}</span>
        </div>
      ))
    }
  </div>

  <div class="flex items-center justify-center w-full">
    <a
      href="/contacto"
      class="group flex items-center justify-start gap-2 hover:underline bg-white/15 w-fit px-5 py-2 rounded-md"
    >
      <Icon name="lucide:notepad-text" class="text-2xl text-[#004fa8]" />
      <span>Contáctanos</span>
      <Icon
        name="lucide:arrow-right"
        class="group-hover:translate-x-2 transition-all duration-500"
      />
    </a>
  </div>
</section>
